@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre sıfıralamayı doğrula";
}

<h1>@ViewData["Title"]</h1>
<p>
   Şifreniz sıfırlandı. Lütfen giriş yapmak için <a asp-page="./Login">buraya tıklayın.</a>.
</p>
